body {
  background-color: #1a1e1f;
  color: #f4f4f4;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.burger_menu {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
  transition: 0.3s ease-in-out;
}

.burger_bar {
  height: 3px;
  border-radius: 8px;
  width: 100%;
  position: absolute;
  background-color: #dbdbdb;
  transition: 0.8s ease-in-out;
}

.bar1 {
  width: 50%;
  top: 0;
  left: 0;
}

.bar2 {
  top: 45%;
}

.bar3 {
  width: 50%;
  bottom: 0;
  right: 0;
}

.flex-dir-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-dir-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sp-btw {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.logo {
  width: 182px;
  height: 40px;
}
header {
  width: 100%;
  padding: 21px 0px;
  position: sticky;
  top: 0;
  background-color: #1a1e1f;
  opacity: 0.9;
  z-index: 100;
}
.nav-bar {
  width: 454px;
  line-height: 26px;
}
nav ul li a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
  padding: 0 10px;
}
nav ul li:nth-child(3) a {
  color: rgb(0, 174, 234);
}
header,
.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-section {
  width: 100%;
  position: relative;
}
.title {
  line-height: 1.6em;
}
.title span {
  font-size: 34px;
  margin-top: 10px;
}

.header-text {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.bcg-image {
  width: 100%;
  height: 352px;
<<<<<<< HEAD
  background-image: url(../assets/images/meeting.webp);
=======
 
>>>>>>> 2a372c9524612ae72d5afd6f82cf1cfd936ecd4b
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   background-image: url(../assets/images/meeting.webp);
}

.about-project {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 65px 0 65px;
  background-color: #2b2b2b;
}
.about-project h1 {
  font-size: 28px;
  line-height: 1.6em;
}
.about-project span {
  color: #00aeea;
  font-size: 20px;
}
.more {
  margin-top: 35px;
  font-weight: 900;
  cursor: pointer;
}

/* TRAINING COURSES SECTION  */
.learning {
  font-size: 24px;
  margin: 35px 0 60px;
  line-height: normal;
}
.courses {
  background-color: #161616;
}
.training-courses {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 39px;
  row-gap: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.course-card {
  width: 300px;
  height: 414px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 6px;
  margin: -1px;
}
.course-card img {
  width: 100%;
  height: auto;
}
.course-details {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sub-card {
  padding: 30px 24px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}
.sub-card p {
  font-size: 14px;
  margin-top: -85px;
}
.course-title {
  font-size: 18px;
}
.course-details img {
  width: 16px;
  height: 17px;
}
.details {
  color: rgb(0, 174, 234);
  cursor: pointer;
}

/* SLIDER SECTION */
.partnership {
  background-color: #2b2b2b;
  height: 363px;
  padding: 40px 0 80px;
}
.partners {
  font-size: 24px;
  text-align: left;
}
.slider-container {
  text-align: center;
  color: #403f3d;
  font-weight: 600;
  font-size: 60px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.slide1 {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  justify-content: center;
  display: flex;
}
.header-text h3 {
  font-size: 42px;
  font-weight: 900;
  display: block;
}
.slide img {
  width: auto;
}
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  background-color: transparent;
  text-decoration: none;
  border: none;
  transform: translate(0, -50%);
}
.nextButton svg,
.prevButton svg {
  background-color: transparent;
}
.leftArrow,
.rightArrow {
  height: 35px;
  width: 18px;
  color: #00aef3;
  fill: #e8e6e6;
  cursor: pointer;
}
.rightArrow {
  transform: rotate(-180deg);
}
.prevButton {
  left: 100px;
}
.nextButton {
  right: 100px;
}
.slider-divs {
  display: flex;
  justify-content: center;
}
.slide-div {
  width: 6px;
  height: 6px;
  background-color: #e8e6e6;
  border-radius: 100%;
  margin: 0 6px;
  cursor: pointer;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FAQ SECTION */

.faq {
  padding: 105px 0 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #161616;
}
.faq-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 15px;
}
.faq-title h5 {
  font-size: 24px;
}
.faq-title span {
  color: #00aef3;
  font-size: 20px;
  font-weight: 900;
}
.question {
  padding: 21px 0;
  border-bottom: 1px solid #403f3d;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  gap: 20px;
}
.question p {
  font-size: 18px;
  line-height: 2;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
.sub-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.answer {
  display: none;
  gap: 40px;
}
.arrowDown {
  fill: #f4f4f4;
}
.arrow-down {
  cursor: pointer;
}
.sub-question button {
  background-color: #161616;
  border: none;
}
.answer span {
  font-weight: 900;
}
.answer-steps {
  margin-left: 1.5em !important;
}

/* FOOTER SECTION */
.footer {
  width: 100%;
  padding: 60px 0 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rules {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.rules img {
  width: 106px;
  height: 30px;
}
.btn-contact-us {
  color: #ffffff;
  background-color: #00aef3;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 5px;
}
.contact {
  max-width: 150px;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
}
.social-media {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.social-media img {
  width: 39px;
  height: 39px;
  cursor: pointer;
}
/* HOVERS */
.nav-list a,
.more,
.all-faq,
.details,
.btn-contact-us {
  transition: 0.3s all;
}
.answer,
.sub-question,
.question {
  transition: transform 0.3s all;
}
.nav-list:hover a {
  color: #00aef3;
}
.more:hover,
.all-faq:hover {
  color: rgb(160, 160, 160);
}
.details:hover {
  opacity: 0.7;
}
.btn-contact-us:hover {
  background-color: #dbdbdb;
  color: #403f3d;
}

@media screen and (max-width: 1000px) {
  .main-container {
    padding: 0px 25px;
  }
  .training-courses {
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
  .course-card {
    max-width: 250px;
    height: 380px;
  }
  .sub-card {
    gap: 10px;
  }
  .about-project h1 {
    font-size: 24px;
  }
  h4 {
    text-align: center;
  }
  .slide1,
  .partners {
    padding: 0 70px;
  }
  .slide1 img {
    width: 200px;
  }
}

@media screen and (max-width: 850px) {
  .main-container {
    padding: 0px 25px;
  }
  .training-courses {
    width: 100%;
    gap: 35px;
    justify-content: center;
  }
  .course-card {
    max-width: 300px;
    height: 414px;
  }

  .about-project h1 {
    font-size: 22px;
  }
  .header-text span {
    font-size: 30px;
  }
  .header-text h3 {
    font-size: 38px;
  }
  .slide1 img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar ul {
    justify-content: unset;
  }
  .burger-menu {
    z-index: 1000;
  }
  .main-container {
    padding: 0px 25px;
  }
  .training-courses {
    width: 100%;
    gap: 35px;
    justify-content: center;
  }
  .course-card {
    max-width: 270px;
    height: 380px;
  }
  .about-project h1 {
    font-size: 22px;
  }
  .header-text span {
    font-size: 26px;
  }
  .header-text h3 {
    font-size: 34px;
  }
  .nav-bar {
    display: none;
    /* background-color: #00aeea; */
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    /* right: -100%; */
    height: 100%;
    z-index: 900;
    /* opacity: 0; */
    transition: 1s ease-in-out;
  }
  .burger_menu {
    /* background-color: #00aeea; */
    display: block;
    z-index: 1000;
    transition: 0.3s ease-in-out;
  }
  .burger-menu-list {
    display: flex;
    z-index: 901;
    height: 100%;
    flex-direction: column;
    background-color: #1a1e1f;
    width: clamp(250px, 60%, 100%);
    align-items: flex-end;
    padding: 80px  20px ;
    gap: 0;
    transition: 0.3s ease-in-out;

    font-size: 2rem;
  }
  .nav-lists {
    margin-top: 4rem;
    font-size: 2rem;
  }
  .burger_menu:active nav-bar{
    right: 100%;

  }
}
@media screen and (max-width: 650px) {
  .main-container {
    padding: 0px 25px;
  }
  .training-courses {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }
  .course-card {
    max-width: 250px;
    height: 380px;
  }
  .about-project h1 {
    font-size: 22px;
  }
  .header-text span {
    font-size: 26px;
  }
  .header-text h3 {
    font-size: 34px;
  }

  .slide1 img {
    width: 120px;
  }
  .partners {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .main-container {
    padding: 0px 25px;
  }
  .training-courses {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }
  .course-card {
    max-width: 100%;
    height: 370px;
  }
  .about-project h1 {
    font-size: 18px;
  }
  .header-text span {
    font-size: 20px;
  }
  .header-text h3 {
    font-size: 28px;
  }
  .nav-bar {
    display: none;
  }
  .faq-title h5 {
    font-size: 18px;
  }
  .faq-title span {
    font-size: unset;
  }
  .faq-title {
    padding: 0;
    align-items: center;
  }
  .content {
    margin: 0;
  }
  .partners {
    font-size: 16px;
    padding: 0;
  }
  .partnership {
    padding: 25px 0;
  }
  .slide1 {
    flex-direction: column;
    gap: 20px;
  }
  .nextButton {
    right: 30px;
  }
  .prevButton {
    left: 30px;
  }
  .prevButton,
  .nextButton {
    transform: translate(0, -130%);
  }
}
@media screen and (max-width: 380px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .contact {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-top: 40px;
    max-width: unset;
  }
  .course-card {
    height: 350px;
  }
  .sub-card {
    height: 250px;
  }
  .social-media {
    justify-content: center;
    width: auto;
  }
  .btn-contact-us {
    width: 100px;
  }
  .rules {
    width: 100%;
  }
  .slide1 {
    flex-direction: column;
    gap: 20px;
  }
}
